module.exports = {
  toString : function (obj){
    return JSON.stringify(obj)
  },
  toDate : function (str){
    var date = str * 1000
    date = getDate(date)
    var y = date.getFullYear();
    var M = date.getMonth() + 1;
    M = M < 10 ? '0' + M : M;
    var d = date.getDate();
    d = d < 10 ? ('0' + d) : d;
    var h = date.getHours();
    h = h < 10 ? ('0' + h) : h;
    var m = date.getMinutes();
    m = m < 10 ? ('0' + m) : m;
    return y + '年' + M + '月' + d + '日' + ' ' + h + ':' + m
  }
}